{% load static %}
<script src="{% static "/jquery/jquery.min.js" %}"></script>
  <script src="{% static "/js/bootstrap.min.js" %}"></script>
  <script src="{% static "/js/isotope.min.js" %}"></script>
  <script src="{% static "/js/owl-carousel.js" %}"></script>
  <script src="{% static "/js/counter.js" %}"></script>

  <script src="{% static "/js/team-slider.js" %}"></script>
    <script src="{% static "/js/site-header.js" %}"></script>

  <script src="{% static "/js/custom.js" %}"></script>
  <script src="{% static "/js/service-filter.js" %}"></script>
